# Limpieza del dataset de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. El archivo contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com.

El dataset fue descargado hace algunos años y en ningún caso se obtuvo beneficio económico de ello.

Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos.

Agrega observaciones, conclusiones o notas acerca de los datos obtenidos en cada ejercicio.

In [10]:
import pandas as pd

#### Ejercicio 00

Lee el dataset data/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [11]:
# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
df= pd.read_csv('/workspaces/limpieza-datos-elius123ef/real_estate (1).csv', sep=';')
df

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

## Trabajando con un DataFrame

#### Ejercicio 01

¿Cuál es la casa más cara del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Para visualizar el resultado utiliza un f-string. Por ejemplo:

```py
f'La casa más cara se encuentra en la dirección: {address} y su precio es {price} €'
```

In [12]:
idx_max = df.loc[df['price'] != 0, 'price'].idxmax()
casa = df.loc[idx_max, ['address', 'price']]

f"La casa más cara se encuentra en la dirección: {casa['address']} y su precio es {casa['price']} €"

'La casa más cara se encuentra en la dirección: El Escorial y su precio es 8500000 €'

#### Ejercicio 02

¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada utilizando f-string

In [13]:
idx_min = df.loc[df['price'] != 0, 'price'].idxmin()
casa = df.loc[idx_min, ['address', 'price']]

f"La casa más barata se encuentra en la dirección: {casa['address']} y su precio es {casa['price']} €"

'La casa más barata se encuentra en la dirección: Berlin, Coslada y su precio es 600 €'

#### Ejercicio 03

¿Cuál es la casa más grande del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas utilizando f-string

In [14]:
surface_max = df.loc[df['surface'] != 0, 'surface'].idxmax()
casa = df.loc[surface_max, ['address', 'surface']]

f"La casa más grande se encuentra en la dirección: {casa['address']} y su superfice es {casa['surface']} metros"

'La casa más grande se encuentra en la dirección: Sevilla la Nueva y su superfice es 249000.0 metros'

#### Ejercicio 04

¿Cuál es la casa más pequeña del dataset? (★☆☆)

In [15]:
surface_min = df.loc[df['surface'] != 0, 'surface'].idxmin()
casa = df.loc[surface_min, ['address', 'surface']]

f"La casa más pequeña se encuentra en la dirección: {casa['address']} y su superfice es {casa['surface']} metros"

'La casa más pequeña se encuentra en la dirección: Calle Amparo,  Madrid Capital y su superfice es 15.0 metros'

#### Ejercicio 05.

¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

- Muestra el nombre de las filas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.
- También muestra el nombre de las columnas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.

In [16]:
display("Filas con valores NA: ")
display (df.isna().any(axis=1))

display("Columnas con valores NA: ")
display(df.isna().any())

'Filas con valores NA: '

0        True
1        True
2        True
3        True
4        True
         ...
15330    True
15331    True
15332    True
15333    True
15334    True
Length: 15335, dtype: bool

'Columnas con valores NA: '

Unnamed: 0          False
id_realEstates      False
isNew               False
realEstate_name      True
phone_realEstate     True
url_inmueble        False
rooms                True
bathrooms            True
surface              True
price               False
date                False
description          True
address             False
country             False
level1              False
level2              False
level3              False
level4               True
level5              False
level6               True
level7               True
level8               True
upperLevel          False
countryId           False
level1Id            False
level2Id            False
level3Id            False
level4Id            False
level5Id            False
level6Id            False
level7Id            False
level8Id            False
accuracy            False
latitude            False
longitude           False
zipCode              True
customZone           True
dtype: bool

#### Ejercicio 06.

Elimina las columnas que contengan NAs del dataset, si aplica (★★☆)

Muestra las dimensiones del DataFrame original y del DataFrame después de las eliminaciones.

In [17]:
original =df.shape

df_sin_na = df.dropna(axis=1)

nuevo = df_sin_na.shape

f'Las dimensiones originales son: {original}. Y las dimensiones nuevas son: {nuevo}'

'Las dimensiones originales son: (15335, 37). Y las dimensiones nuevas son: (15335, 25)'

#### Ejercicio 07

¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

- Muestra una lista con los nombres de las poblaciones
- Muestra el total de las mismas

In [31]:
poblaciones = df['level5'].dropna().unique()
poblaciones

array(['Arganda del Rey', 'Fuenlabrada', 'Boadilla del Monte',
       'Las Rozas de Madrid', ' Madrid Capital', 'Villaviciosa de Odón',
       'Pinto', 'Valdemoro', 'Navalcarnero', 'Pozuelo de Alarcón',
       'Torrejón de Ardoz', 'Navalagamella', 'San Sebastián de los Reyes',
       'Rivas-vaciamadrid', 'Alpedrete', 'Móstoles',
       'San Fernando de Henares', 'Coslada', 'Becerril de la Sierra',
       'Alcalá de Henares', 'Chinchón', 'Parla', 'Alcorcón',
       'El Escorial', 'Leganés', 'Pedrezuela', 'Majadahonda',
       'Villanueva de la Cañada', 'Villanueva del Pardillo',
       'Torrelodones', 'Moralzarzal', 'Mejorada del Campo', 'Aranjuez',
       'Corpa', 'Getafe', 'Velilla de San Antonio', 'Sevilla la Nueva',
       'San Martín de la Vega', 'Villalbilla', 'Collado Villalba',
       'Alcobendas', 'El Molar (Madrid)', 'Moraleja de Enmedio', 'Algete',
       'Campo Real', 'Torrejón de la Calzada', 'Colmenar Viejo',
       'Valdemorillo', 'Fuente El Saz de Jarama', 'Tres Cantos',
       'Arroyomolinos (Madrid)', 'Griñón', 'Paracuellos de Jarama',
       'Guadarrama', 'Titulcia', 'Galapagar', 'Collado Mediano',
       'Los Molinos', 'San Lorenzo de El Escorial', 'Loeches',
       'San Martín de Valdeiglesias', 'Navas del Rey', 'Bustarviejo',
       'Manzanares El Real', 'Carabaña', 'Casarrubuelos', 'Cercedilla',
       'Fresnedillas de la Oliva', 'Valdemaqueda', 'Robledo de Chavela',
       'Miraflores de la Sierra', 'Humanes de Madrid',
       'Valdetorres de Jarama', 'San Agustín del Guadalix',
       'Ciempozuelos', 'Camarma de Esteruelas', 'Torres de la Alameda',
       'Talamanca de Jarama', 'El Atazar', 'Hoyo de Manzanares',
       'El Boalo - Cerceda – Mataelpino', 'El Álamo', 'Valdilecha',
       'Valdeolmos-Alalpardo', 'Guadalix de la Sierra',
       'Belmonte de Tajo', 'El Vellón', 'Brunete', 'Redueña',
       'Morata de Tajuña', 'Tielmes', 'Gargantilla del Lozoya', 'Meco',
       'Venturada', 'Quijorna', 'Cenicientos', 'Torrejón de Velasco',
       'Navacerrada', 'Santa María de la Alameda', 'Orusco de Tajuña',
       'Daganzo de Arriba', 'Villamanta', 'Anchuelo', 'Valdaracete',
       'Ajalvir', 'Los Santos de la Humosa', 'Villamanrique de Tajo',
       'Colmenar de Oreja', 'Villa del Prado', 'Fuentidueña de Tajo',
       'Colmenar del Arroyo', 'Valdelaguna', 'Cubas de la Sagra',
       'Valdeavero', 'Aldea del Fresno', 'Ribatejada', 'Torrelaguna',
       'Batres', 'Pezuela de las Torres', 'Colmenarejo',
       'Serranillos del Valle', 'Cobeña', 'Soto del Real', 'El Berrueco',
       'Villanueva de Perales', 'Fresno de Torote - Serracines',
       'Pozuelo del Rey', 'Pelayos de la Presa', 'La Cabrera',
       'Nuevo Baztán', 'Perales de Tajuña', 'Villaconejos',
       'Villarejo de Salvanés', 'Cadalso de los Vidrios', 'Santorcaz',
       'Madarcos', 'Garganta de los Montes', 'Puentes Viejas',
       'Torremocha de Jarama', 'Valdemanco', 'Braojos',
       'Lozoyuela-navas-sieteiglesias', 'Piñuécar-gandullas',
       'Valdepiélagos', 'Valverde de Alcalá', 'Villar del Olmo',
       'Villamantilla', 'Horcajo de la Sierra', 'Gascones', 'Zarzalejo',
       'Villavieja del Lozoya', 'Brea de Tajo', 'Estremera', 'Chapinería',
       'Navarredonda', 'Patones', 'Ambite', 'Navalafuente', 'Lozoya',
       'Canencia', 'Cabanillas de la Sierra', 'Buitrago del Lozoya',
       'Fresno de Torote', 'Robregordo', 'Pinilla del Valle', 'Rascafría',
       'La Hiruela', 'Montejo de la Sierra'], dtype=object)

In [32]:
total_poblaciones = df['level5'].nunique()
f" total poblaciones es: {total_poblaciones}"

' total poblaciones es: 168'

#### Ejercicio 08

¿Cuál es la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

In [19]:
arroyo = df.loc[df['level5'] == 'Arroyomolinos (Madrid)']
media = arroyo['price'].mean().round(2)
f'La media de precios en la poblacion Arroyomolinos es {media:.0f} €'

'La media de precios en la poblacion Arroyomolinos es 294542 €'

#### Ejercicio 09.

¿Los precios promedios de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

- Muestra ambos promedios
- Escribe en una celda markdown una conclusión sobre ellos

In [20]:
valdemorillo = df.loc[df['level5'] == 'Valdemorillo']
valde_media = valdemorillo['price'].mean().round(2)

galapagar = df.loc[df['level5'] == 'Galapagar']
gala_media = galapagar['price'].mean().round(2)

f'La media de precios en la poblacion Valdemorillo es {valde_media:.0f}€ y la de Galapagar es {gala_media:.0f}€'

'La media de precios en la poblacion Valdemorillo es 363860€ y la de Galapagar es 360063€'

### Observaciones

Como podemos observar, la poblacion de Valdemorillo tiene una media superior a la media de la poblacion Galapagar con una diferencia de 3797.09 €

#### Ejercicio 10

¿Los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

> Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

- Muestra ambos promedios de precio por metro cuadrado
- Escribe en una celda markdown una conclusión sobre ellos

In [35]:
df['pps'] = df['price'] / df['surface']
valde_media_mts = df.loc[df['level5'] == 'Valdemorillo', 'pps'].mean()

df['pps'] = df['price'] / df['surface']
gala_media_mts = df.loc[df['level5'] == 'Galapagar', 'pps'].mean()

In [36]:
f'La media de precio/m2 de Valdemorillo es: {valde_media_mts:.0f}€ y la de Galapagar es: {gala_media_mts:.0f}€'

'La media de precio/m2 de Valdemorillo es: 1318€ y la de Galapagar es: 1606€'

### Observaciones

Podemos observar que hay una clara diferencia en los precios/m2 de cada poblacion. Aunque pudimos ver que la media de precio de Valdemorillo es superior a la de Galapagar, la media de precios/m2 es superior en la poblacion de Galapagar siendo esto porque el suelo de Galapagar es mas caro que el suelo de Valdemorillo

#### Ejercicio 11

¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

- Muestra el valor obtenido.

In [22]:
df['realEstate_name'].nunique()

1821

#### Ejercicio 12

¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

- Muestra la población y el número de casas.

In [23]:
df['level5'].value_counts()

level5
 Madrid Capital         6643
Alcalá de Henares        525
Las Rozas de Madrid      383
Móstoles                 325
Getafe                   290
                        ...
Fresno de Torote           1
Pinilla del Valle          1
Rascafría                  1
La Hiruela                 1
Montejo de la Sierra       1
Name: count, Length: 168, dtype: int64

---

## Trabajando con un subconjunto del DataFrame

#### Ejercicio 13

Ahora vamos a trabajar con el "cinturón sur" de Madrid.

Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

> Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [24]:
cinturon_sur = df[df['level5'].isin(['Fuenlabrada', 'Leganés', 'Getafe', 'Alcorcón'])]
cinturon_sur

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN
94,95,153995577,False,viviendas365com,911226014.0,https://www.fotocasa.es/es/comprar/vivienda/le...,3.0,2.0,120.0,320000,...,0,0,0,0,0,0,"40,31933","-3,77574",NaN,NaN
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15275,15276,153903887,False,aliseda servicios de gestion inmobiliaria,911368198.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,1.0,78.0,138000,...,0,0,0,0,0,1,"40,31381","-3,83733",NaN,NaN
15291,15292,151697757,False,unipiso,912788631.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,2.0,110.0,279000,...,0,0,0,0,0,0,"40,3259051","-3,76318",NaN,NaN
15305,15306,153902389,False,jadein ferrero,914871639.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,85.0,170000,...,0,0,0,0,0,0,"40,2882193","-3,8098617",NaN,NaN
15322,15323,153871864,False,gestion comercial,911220662.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,91.0,112000,...,0,0,0,0,0,0,"40,28282","-3,78892",NaN,NaN
15325,15326,153901467,False,montehogar 68,911790675.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,215000,...,0,0,0,0,0,1,"40,28062","-3,79869",NaN,NaN

#### Ejercicio 14

Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (★★★)

> Debes usar el subset obtenido en la pregunta 13

- Crea y visualiza un diccionario con todos los valores

In [25]:
variables =["price","rooms","surface","bathrooms"]
media = cinturon_sur[variables].mean().round(2)

varianza = cinturon_sur[variables].var(ddof=1)

dict = {'media': cinturon_sur[['price', 'rooms', 'surface', 'bathrooms']].mean().round(1).to_dict(),
        'varianza': cinturon_sur[['price', 'rooms', 'surface', 'bathrooms']].var(ddof=1).round(2).to_dict()}
dict

{'media': {'price': 223094.5,
  'rooms': 3.0,
  'surface': 111.8,
  'bathrooms': 1.6},
 'varianza': {'price': 14921367508.05,
  'rooms': 0.72,
  'surface': 4263.05,
  'bathrooms': 0.57}}

#### Ejercicio 15

¿Cuál es la casa más cara de cada población del cinturón sur de Madríd? (★★☆)

> Debes usar el subset obtenido en la pregunta 13

- Genera un DataFrame con esta información
- Muestra tanto la dirección como el precio de la casa seleccionada de cada población.
- Genera conclusiones en una celda markdown

In [37]:
idx_fuenlabrada = cinturon_sur.loc[cinturon_sur['level5'] == 'Fuenlabrada', 'price'].idxmax()
casa_fuenlabrada = cinturon_sur.loc[idx_fuenlabrada, ['price', 'address']]

f'La casa más cara de Fuenlabrada cuesta: {casa_fuenlabrada["price"]} € y su dirección es: {casa_fuenlabrada["address"]}'

'La casa más cara de Fuenlabrada cuesta: 490000 € y su dirección es: Calle de Paulo Freire, 5, Fuenlabrada'

In [27]:
casa_Getafe = cinturon_sur.loc[cinturon_sur['level5'] == 'Getafe', 'price'].idxmax()
casa_address_Getafe = cinturon_sur.loc[casa_Getafe, ['address']]

f'Se muestra la casa mas cara de Getafe es: {casa_Getafe} y su direccion es: {casa_address_Getafe}'

'Se muestra la casa mas cara de Getafe es: 2881 y su direccion es: address    Getafe\nName: 2881, dtype: object'

In [28]:
casa_Leganés = cinturon_sur.loc[cinturon_sur['level5'] == 'Leganés', 'price'].idxmax()
casa_address_Leganés = cinturon_sur.loc[casa_Leganés, ['address']]

f'Se muestra la casa mas cara de Leganés es: {casa_Leganés} y su direccion es: {casa_address_Leganés}'

'Se muestra la casa mas cara de Leganés es: 10412 y su direccion es: address    Avenida Reina Sofía, Leganés\nName: 10412, dtype: object'

In [29]:
casa_Alcorcón = cinturon_sur.loc[cinturon_sur['level5'] == 'Alcorcón', 'price'].idxmax()
casa_address_Alcorcón = cinturon_sur.loc[casa_Alcorcón, ['address']]

f'Se muestra la casa mas cara de Alcorcón es: {casa_Alcorcón} y su direccion es: {casa_address_Alcorcón}'

'Se muestra la casa mas cara de Alcorcón es: 5585 y su direccion es: address    Alcorcón\nName: 5585, dtype: object'

## Observaciones

Podemos observar la direccion y precio de la casa mas cara de cada poblacion.

#### Ejercicio 16

¿Qué puedes decir acerca del precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? (★★☆)

> Debes usar el subset obtenido en la pregunta 13
>
> Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [30]:
df['pps'] = df['price'] / df['surface']

Getafe = df.loc[df['level5'] == 'Getafe']

mean_Getafe = Getafe['pps'].mean().round(2)


Alcorcón = df.loc[df['level5'] == 'Alcorcón']

mean_Alcorcón = Alcorcón['pps'].mean().round(2)

f'Precio medio por metro cuadrado en Getafe es: {mean_Getafe}€, y el de Alcorcón es: {mean_Alcorcón}€'

'Precio medio por metro cuadrado en Getafe es: 2066.31€, y el de Alcorcón es: 2239.3€'

## Conclusiones

#### Ejercicio 17

Escribe aquí tus conclusiones acerca de este proyecto

Como podemos observar a lo largo del proyecto, obtuvimos muchisima informacion de este DataFrame, pudimos conseguir:
- Valores maximos y minimos de las propiedades de diferentes poblaciones
- Una media de precios entre distintas poblaciones
- Analizamos y creamos un nuevo Sub-DataFrame llamado "cinturon_sur" que contenia nuevas poblaciones
- Obtuvimos nuevos datos de dicho DataFrame y los trabajamos